header {
  height: 64px;
  padding: 8px 20px 8px 24px;
  background-color: #ffebcd;
  min-width: 906px;
}

.logo {
  float: left;
  font-size: 32px;
}

.line-name {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  float: right;
  padding: 4px;
}

.make-book {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  float: right;
  padding: 4px;
}

.content {
  width: 906px;
  margin: 0 auto;
  height: 1000px;
}
